## Creating the Data Frame

In [2]:
import pandas as pd

# Data dictionary
data = {
    'Name': ['Nikhil', 'Sanchit', 'Aditya', 'Sagar'],
    'Branch': ['CSE', 'CSE', 'IT', 'IT'],
    'Year': [2, 2, 2, 1],
    'CGPA': [9.0, 9.1, 9.3, 9.5]
}

# Creating the DataFrame
df = pd.DataFrame(data)
print("DataFrame:")
df

DataFrame:

      Name Branch  Year  CGPA
0   Nikhil    CSE     2   9.0
1  Sanchit    CSE     2   9.1
2   Aditya     IT     2   9.3
3    Sagar     IT     1   9.5

## Find the average CGPA of the students:

In [3]:
average_cgpa = df['CGPA'].mean()
print(f"Average CGPA of the students: {average_cgpa}")

Average CGPA of the students: 9.225000000000001

## Display the details of all students having CGPA > 9:

In [4]:
students_above_9 = df[df['CGPA'] > 9]
print("\nDetails of all students having CGPA > 9:")
students_above_9

Details of all students having CGPA > 9:

      Name Branch  Year  CGPA
1  Sanchit    CSE     2   9.1
2   Aditya     IT     2   9.3
3    Sagar     IT     1   9.5

## Display the details of all CSE students with CGPA > 9:

In [5]:
cse_students_above_9 = df[(df['Branch'] == 'CSE') & (df['CGPA'] > 9)]
print("\nDetails of all CSE students with CGPA > 9:")
cse_students_above_9

Details of all CSE students with CGPA > 9:

      Name Branch  Year  CGPA
1  Sanchit    CSE     2   9.1

## Display the details of the student with the maximum CGPA:

In [6]:
max_cgpa_student = df[df['CGPA'] == df['CGPA'].max()]
print("\nDetails of the student with the maximum CGPA:")
max_cgpa_student

Details of the student with the maximum CGPA:

    Name Branch  Year  CGPA
3  Sagar     IT     1   9.5

## Display the average CGPA of each branch:

In [7]:
average_cgpa_branch = df.groupby('Branch')['CGPA'].mean()
print("\nAverage CGPA of each branch:")
average_cgpa_branch

Average CGPA of each branch:

Branch
CSE    9.05
IT     9.40
Name: CGPA, dtype: float64